/*
Typography is the way that text is arranged and presented. 
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
/* input,button{
    font: inherit;
} */

p{
    /* Text---> */
    /* text-decoration: none; */
    /* text-transform: capitalize; */
    /* text-align: justify; */
    /* text-indent: 2em; */
    line-height: 1.5;/* default is 1.2 */
    /* letter-spacing: 0.1em; */
    /* word-spacing: 0.1em; */
    /* Font---> */
    /* font-weight:bold; */
    /* font-style: oblique; */
}
